
:root {
    --cor-de-fundo: #EBECEE;
}
body {
    background-color: var(--cor-de-fundo);
}
h1 {
    background-color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #666;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.anime {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    padding: 10px;
}

.anime img {
    width: 100%;
    border-radius: 8px;
}

.anime h2 {
    color: #333;
    margin: 15px 0 10px;
}

.anime p {
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 230px;
}